@font-face {
  font-family: Brandon;
  font-weight: 300;
  font-style: normal;
  src: url("fonts/brandon_reg-webfont.eot");
  src: url("fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_reg-webfont.woff") format("woff"), url("fonts/brandon_reg-webfont.ttf") format("truetype"), url("fonts/brandon_reg-webfont.svg#Brandon") format("svg"); }
@font-face {
  font-family: Brandon;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/brandon_med-webfont.eot");
  src: url("fonts/brandon_med-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_med-webfont.woff") format("woff"), url("fonts/brandon_med-webfont.ttf") format("truetype"), url("fonts/brandon_med-webfont.svg#Brandon") format("svg"); }
@font-face {
  font-family: Brandon;
  font-weight: 500;
  font-style: normal;
  src: url("fonts/brandon_bld-webfont.eot");
  src: url("fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_bld-webfont.woff") format("woff"), url("fonts/brandon_bld-webfont.ttf") format("truetype"), url("fonts/brandon_bld-webfont.svg#Brandon") format("svg"); }
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative; }

h1 {
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  font-weight: normal; }

h2 {
  font-family: Brandon, sans-serif;
  color: #4A4A4A;
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0.3em; }
  h2.type-logo-strapline {
    color: #4A4A4A;
    font-size: 1.2em;
    line-height: 1.2em;
    float: left;
    width: 190px;
    margin: 26px 0px; }
    h2.type-logo-strapline span {
      font-size: 1em;
      color: #4A4A4A; }
    @media (max-width: 700px) {
      h2.type-logo-strapline {
        display: none; } }
  h2.type-footer-head {
    padding-top: 25px;
    width: 50%;
    display: block;
    color: #169ee4; }
    h2.type-footer-head span {
      font-size: 1em;
      display: block;
      clear: both;
      color: #dadada; }

.type-local-reviews {
  display: block;
  margin: 0 auto;
  width: 160px;
  border-bottom: 3px solid #dadada;
  margin-top: 50px;
  margin-bottom: 50px; }

h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0.4em; }
  h3.type-form-title {
    color: #eef1e9; }

h4 {
  font-family: Brandon, sans-serif;
  color: #4A4A4A;
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0.3em; }
  h4.type-footer-head {
    color: #4A4A4A;
    width: 50%;
    margin-bottom: 0; }
    h4.type-footer-head span {
      font-size: 1em;
      color: #169ee4; }
  h4.type-map-title {
    width: 100%;
    text-align: center;
    padding-top: 45px; }
    h4.type-map-title span {
      font-size: 1em; }

.hero-review-title {
  color: #4d4d4d;
  width: 50%;
  margin-bottom: 0; }
  .hero-review-title span {
    color: #4d4d4d; }

h5 {
  font-family: Brandon, sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-bottom: 0.3em; }

.author-title {
  font-family: Brandon, sans-serif;
  color: #fff;
  display: block;
  margin-top: 24px;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  width: 200px;
  float: left; }

.small_print {
  font-size: 0.875em;
  line-height: 1.6em; }

p {
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.687em; }
  p a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  p strong {
    font-weight: bold; }
  p em {
    font-style: italic; }
  p .side-matter-ref {
    border: none; }
    p .side-matter-ref sup {
      font-size: 0.6em;
      margin-left: 0; }
  p.type-body-smallest {
    color: #dadada;
    font-size: 0.8em; }

span {
  font-size: 0.8em; }
  span.type-footer-twitter {
    color: #f8fbf4;
    padding-top: 15px;
    display: block;
    width: 70%;
    float: left;
    font-size: 0.8em; }

.posted-timestamp {
  color: #fff;
  font-size: 0.85em;
  width: 200px;
  float: left; }

.type-copyright {
  color: #dadada;
  font-size: 0.75em; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

body,
html {
  min-height: 100%;
  height: 100%; }

body:after {
  position: fixed !important; }

body {
  background: #f8fbf4;
  font-family: Brandon, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0 !important;
  padding: 0; }

img,
iframe {
  width: 100%;
  max-width: 100%; }

::-moz-selection {
  color: #fff;
  text-shadow: none; }

::selection {
  color: #fff;
  text-shadow: none; }

.layout-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 94%;
  max-width: 1200px; }

.layout-row {
  clear: both;
  width: 100%; }

.layout-span-twelve {
  height: 50px;
  float: left;
  width: 100%; }

.layout-shift-six {
  margin-right: 24px;
  height: 1px;
  float: left;
  width: -moz-calc(50% - 12px);
  width: -webkit-calc(50% - 12px);
  width: calc(50% - 12px); }
  @media (max-width: 835px) {
    .layout-shift-six {
      width: 100%; } }

.layout-span-six {
  margin-right: 24px;
  float: left;
  width: -moz-calc(50% - 12px);
  width: -webkit-calc(50% - 12px);
  width: calc(50% - 12px); }
  @media (max-width: 835px) {
    .layout-span-six {
      width: 100%; } }

.layout-shift-four {
  margin-right: 24px;
  height: 1px;
  float: left;
  width: -moz-calc(33.3% - 16px);
  width: -webkit-calc(33.3% - 16px);
  width: calc(33.3% - 16px); }
  @media (max-width: 835px) {
    .layout-shift-four {
      width: 100%; } }

.layout-span-four {
  margin-right: 24px;
  float: left;
  width: -moz-calc(33.3% - 16px);
  width: -webkit-calc(33.3% - 16px);
  width: calc(33.3% - 16px); }
  @media (max-width: 835px) {
    .layout-span-four {
      width: 100%; } }

.layout-shift-three {
  margin-right: 24px;
  height: 1px;
  float: left;
  width: -moz-calc(25% - 18px);
  width: -webkit-calc(25% - 18px);
  width: calc(25% - 18px); }
  @media (max-width: 1047px) {
    .layout-shift-three {
      width: 0; } }

.layout-span-three {
  margin-right: 24px;
  float: left;
  width: -moz-calc(25% - 18px);
  width: -webkit-calc(25% - 18px);
  width: calc(25% - 18px); }
  @media (max-width: 835px) {
    .layout-span-three {
      width: -moz-calc(50% - 12px);
      width: -webkit-calc(50% - 12px);
      width: calc(50% - 12px); }
      .layout-span-three:nth-child(2) {
        margin-right: 0; } }
  @media (max-width: 835px) {
    .layout-span-three {
      width: -moz-calc(50% - 12px);
      width: -webkit-calc(50% - 12px);
      width: calc(50% - 12px); }
      .layout-span-three:nth-child(2) {
        margin-right: 0; } }

.layout-shift-two {
  margin-right: 24px;
  height: 1px;
  float: left;
  width: -moz-calc(16.6667% - 20px);
  width: -webkit-calc(16.6667% - 20px);
  width: calc(16.6667% - 20px); }
  @media (max-width: 1047px) {
    .layout-shift-two {
      width: 0; } }

.layout-span-two {
  margin-right: 24px;
  float: left;
  width: -moz-calc(16.6667% - 20px);
  width: -webkit-calc(16.6667% - 20px);
  width: calc(16.6667% - 20px); }
  @media (max-width: 835px) {
    .layout-span-two {
      width: -moz-calc(33.3% - 16px);
      width: -webkit-calc(33.3% - 16px);
      width: calc(33.3% - 16px); }
      .layout-span-two:nth-child(3) {
        margin-right: 0;
        background: green; } }
  @media (max-width: 835px) {
    .layout-span-two {
      width: 100%; }
      .layout-span-two:nth-child(2) {
        margin-right: 0; } }

.layout-column-right {
  margin-right: 0; }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link-style-one {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.95em; }

.link-button-style-one {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 9px 30px 7px 30px;
  text-transform: uppercase;
  color: #f8fbf4;
  text-decoration: none;
  background: #edc721;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 400; }
  .link-button-style-one:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

.link-icon-style-one .fa {
  color: #dadada;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em; }
  .link-icon-style-one .fa:hover {
    color: #169ee4; }

header {
  z-index: 10; }

.header-layout-bar {
  z-index: 9;
  position: relative; }

@-webkit-keyframes header_menu_in {
  from {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes header_menu_in {
  from {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-o-keyframes header_menu_in {
  from {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes header_menu_in {
  from {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes header_menu_out {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); } }
@-moz-keyframes header_menu_out {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); } }
@-o-keyframes header_menu_out {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); } }
@keyframes header_menu_out {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-42px);
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -o-transform: translateY(-42px);
    transform: translateY(-42px); } }
.colour-foreground-blue {
  color: #169ee4; }

.colour-background-blue {
  background: #169ee4; }

.colour-foreground-green {
  color: #23a939; }

.colour-background-green {
  background: #23a939; }

.colour-foreground-orange {
  color: #f29204; }

.colour-background-orange {
  background: #f29204; }

.colour-foreground-red {
  color: #e8471d; }

.colour-background-red {
  background: #e8471d; }

header {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff; }

.header-logo {
  display: block;
  text-indent: -9999px;
  float: left;
  width: 250px;
  width: 226px;
  height: 56px;
  margin-top: 20px;
  position: relative;
  background-image: url(../../img/logo_h1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .header-logo a {
    display: block;
    width: 100%;
    height: 100%; }

.header-main-navigation ul {
  padding: 39px 0 0 0;
  margin: 0; }
  .header-main-navigation ul li {
    float: left;
    list-style-type: none; }
.header-main-navigation .header-navigation-internal {
  float: right; }
  .header-main-navigation .header-navigation-internal li {
    margin-right: 45px; }
.header-main-navigation .header-navigation-external {
  float: right; }
  .header-main-navigation .header-navigation-external li {
    margin-right: 45px; }

.header-submenu {
  width: 100%;
  overflow: hidden; }

.header-layout-bar {
  width: 100%;
  height: 100%;
  height: 42px; }
  .header-layout-bar ul {
    margin: 0; }
    .header-layout-bar ul li {
      float: left;
      list-style-type: none;
      padding: 9px 15px; }
      .header-layout-bar ul li a {
        text-decoration: none;
        font-size: 0.95em;
        color: #f8fbf4; }

#js-discover-menu {
  display: block;
  -webkit-transform: translateY(-42px);
  -moz-transform: translateY(-42px);
  -ms-transform: translateY(-42px);
  -o-transform: translateY(-42px);
  transform: translateY(-42px); }
  .navigation--discover--active #js-discover-menu {
    -webkit-animation: 0.3s header_menu_in ease-in-out forwards;
    -moz-animation: 0.3s header_menu_in ease-in-out forwards;
    animation: 0.3s header_menu_in ease-in-out forwards; }
  .navigation--discover--inactive #js-discover-menu {
    -webkit-animation: 0.3s header_menu_out ease-in-out forwards;
    -moz-animation: 0.3s header_menu_out ease-in-out forwards;
    animation: 0.3s header_menu_out ease-in-out forwards; }

#js-activities-menu {
  display: none; }

/*# sourceMappingURL=application.css.css.map */
