// ==========================================================================
//
// Forms
//
//

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.7);
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
   font-weight: 300;
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.7);
   font-weight: 300;
}

fieldset {
	border: none;
	padding: 0;
	float: left;

	.type-style-three {
		padding: 10px 0;
		float: right;
		display: block;
	}

	&.form-fieldset-half {
		@include calc(width, "50% - 12px");
		margin-right: 20px;
		float: left;
		display: block;

		&:nth-child(even) {
			margin-right: 0;
		}

		@include mq("extra-small", "max-width") {
			width: 100%;
		}
	}

	&.form-full-width {
		width: 100%;
	}
}

label {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 20px 0;
	display: block;
	font-size: 0.9em;
	color: $colourTypeDark;
}

input {
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border: 0;
	padding: 12px 15px 12px 15px;
	font-size: 1.2em;
	color: #fff;
	background: $colourBlue;
	font-family: $main_font;
	@include border-radius(3px);
	font-weight: 300; 
	margin: 0;
	 -webkit-appearance: none;

	&:focus {
		background: $colourGreen;
	}
}

input[type="submit"] {

}

textarea {

}