// ==========================================================================
//
// Animation
//
//

@include keyframes(header_menu_in) {
  from {
    opacity: 1;
    height: 0;
  }

  to {
    opacity: 1;
    height: 50px;
   }
}


@include keyframes(header_arrow_in) {
  from {
    @include transform(translateY(30px));
    opacity: 1;
  }

  to {
    @include transform(translateY(0px));
    opacity: 1;
   }
}

@include keyframes(header_arrow_out) {
  from {
    @include transform(translateY(0px));
    opacity: 1;
  }

  to {
    @include transform(translateY(20px));
    opacity: 0;
   }
}

@include keyframes(header_menu_out) {
  from {
    opacity: 1;
    height: 50px;
  }

  to {
    opacity: 1;
    height: 0px;
   }
}

@include keyframes(article-banner-in) {
  from {
    @include transform(translateY(100px));
    opacity: 0;
  }

  to {
    @include transform(translateY(0px));
    opacity: 1;
   }
}

@include keyframes(arrow-animation) {
  0% {
    @include transform(translateY(0));
  }

  35% {
    @include transform(translateY(0));
    opacity: 0.3;
  }

  60% {
    @include transform(translateY(30px));
    opacity: 0.3;
  }

  70% {
    @include transform(translateY(30px));
    opacity: 0.3;
  }

  100% {
     @include transform(translateY(30px));
     opacity: 0;
  }
}

@include keyframes(arrow-animation-reverse) {
  0% {
    @include transform(translateY(30px));
  }

  35% {
    @include transform(translateY(30px));
    opacity: 0.3;
  }

  60% {
    @include transform(translateY(0px));
    opacity: 0.3;
  }

  70% {
    @include transform(translateY(0px));
    opacity: 0.3;
  }

  100% {
     @include transform(translateY(0px));
     opacity: 0;
  }
}

@include keyframes(fadeIn) {
  from {
    @include transform(translateY(20px));
    opacity: 0;
  }
  to {
    @include transform(translateX(0));
    opacity: 1;
  }
}