// ==========================================================================
//
// Colour
//
//

.colour-foreground-blue {
	color: $colourBlue;
}

.colour-background-blue {
	background: $colourBlue;
}

.colour-foreground-green {
	color: $colourGreen;
}

.colour-background-green {
	background: $colourGreen;
}

.colour-foreground-orange {
	color: $colourOrange;
}

.colour-background-orange {
	background: $colourOrange;
}

.colour-foreground-red {
	color: $colourRed;
}

.colour-background-red {
	background: $colourRed;
}