// ==========================================================================
//
// Layout
//
//

.layout-container {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 94%;
	max-width: 1200px;
}

.layout-row {
	clear: both;
	width: 100%;
}

.layout-span-twelve {
	height: 50px;
	float: left;
	width: 100%;
}

.layout-shift-six {
	margin-right: 24px;
	height: 1px;
	float: left;
	@include calc(width, "50% - 12px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-span-six {
	margin-right: 24px;
	float: left;
	@include calc(width, "50% - 12px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-shift-four {
	margin-right: 24px;
	height: 1px;
	float: left;
	@include calc(width, "33.3% - 16px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-span-four {
	margin-right: 24px;
	float: left;
	@include calc(width, "33.3% - 16px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-shift-three {
	margin-right: 24px;
	height: 1px;
	float: left;
	@include calc(width, "25% - 18px");

	@include mq("medium", "max-width") {
	    width: 0;
	}
}

.layout-span-three {
	margin-right: 24px;
	float: left;
	@include calc(width, "25% - 18px");

	@include mq("small", "max-width") {
	    @include calc(width, "50% - 12px");

	    &:nth-child(2) {
	    	margin-right: 0;
	    }
	}

	@include mq("small", "max-width") {
	    @include calc(width, "50% - 12px");

	    &:nth-child(2) {
	    	margin-right: 0;
	    }
	}
}

.layout-shift-two {
	margin-right: 24px;
	height: 1px;
	float: left;
	@include calc(width, "16.6667% - 20px");

	@include mq("medium", "max-width") {
	    width: 0;
	}
}

.layout-span-two {
	margin-right: 24px;
	float: left;
	@include calc(width, "16.6667% - 20px");

	@include mq("small", "max-width") {
	    @include calc(width, "33.3% - 16px");

	    &:nth-child(3) {
	    	margin-right: 0;
	    	background: green;
	    }
	}

	@include mq("small", "max-width") {
	    width: 100%;

	    &:nth-child(2) {
	    	margin-right: 0;
	    }
	}
}

.layout-column-right {
	margin-right: 0;
}