// ==========================================================================
//
// Layout
//
//

.layout-container {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}

.layout-container-inner {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 1100px;
}

.layout-row {
	clear: both;
	width: 100%;
}

.layout-span-twelve {
	height: 50px;
	float: left;
	width: 100%;
}

.layout-shift-six {
	@include calc(margin-left, "50% + 12px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-span-six {
	margin-right: 24px;
	float: left;
	@include calc(width, "50% - 12px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-shift-four {
	@include calc(margin-left, "33.3% + 9px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-span-four {
	margin-right: 24px;
	float: left;
	@include calc(width, "33.3% - 16px");

	@include mq("small", "max-width") {
	    width: 100%;
	}
}

.layout-shift-three {
	@include calc(margin-left, "25% + 6px");

	@include mq("medium", "max-width") {
	    width: 0;
	}
}

.layout-span-three {
	margin-right: 24px;
	float: left;
	@include calc(width, "25% - 18px");

	@include mq("small", "max-width") {
	    @include calc(width, "50% - 12px");

	    &:nth-child(2) {
	    	margin-right: 0;
	    }
	}

	@include mq("small", "max-width") {
	    @include calc(width, "50% - 12px");

	    &:nth-child(2) {
	    	margin-right: 0;
	    }
	}
}

.layout-shift-two {
	@include calc(margin-left, "16.6667% + 4px");

	@include mq("medium", "max-width") {
	    width: 0;
	}
}

.layout-span-two {
	margin-right: 24px;
	float: left;
	@include calc(width, "16.6667% - 20px");

	@include mq("small", "max-width") {
	    @include calc(width, "33.3% - 16px");

	    &:nth-child(3) {
	    	margin-right: 0;
	    }
	}

	@include mq("small", "max-width") {
	    width: 100%;

	    &:nth-child(2) {
	    	margin-right: 0;
	    }
	}
}

.layout-shift-one {
	@include calc(margin-left, "8.33% + 2px");
}

.layout-margin-one {
	margin-top: 15px;
}

.layout-column-right {
	margin-right: 0;
}