// ==========================================================================
//
// Links
//
//

a {
	@include transition(all, 0.3s, ease-in-out);
}

.link-style-one {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.95em;
}

.link-style-two {
	color: $colourTypeDark;
	border-bottom: 2px solid $colourBlue;
	text-decoration: none;

	&:hover {
		color: $colourBlue;
	}
}

.link-button-style-one {
	@include border-radius(20px);
	padding: 9px 20px 7px 20px;
	text-transform: uppercase;
	color: $colourBg;
	text-decoration: none;
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 400;
	cursor: pointer;

	&:hover {
		@include border-radius(10px);
	}
}

.link-arrow-right {
	width: 71px;
	float: left;
	height: 124px;
	border-right: 1px solid $colourDarken;
	cursor: pointer;
	background-image: url(../../img/icon-arrow-right.svg);
	background-repeat: no-repeat;
	background-size: 30% 30%;
	background-position: center center;

	&:hover {
		background-color: $colourDarken;
	}
}

.link-icon-style-one {
	
	.fa {
		color: $colourTypeMid;
		@include transition(all, 0.3s, ease-in-out);
		font-size: 1.2em;

		&:hover {
			color: $colourBlue;
		}
	}
}

.link-icon-style-two {
	font-size: 2em;
	cursor: pointer;
	float: left;
}

.link-drop-down-container {
	margin: 0px 25px;
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	float: left;
	position: relative;
	cursor: pointer;

	span {
		margin: 0;
		padding: 10px 15px;
		box-sizing: border-box;
		background: $colourGreen;
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: -38px;
		height: 38px;
		width: 38px;
		background-color: $colourDarkGreen;
		background-image: url(../../img/icon-arrow-down.svg);
		background-repeat: no-repeat;
		background-size: 30% 30%;
		background-position: center center;
	}
}

.link-drop-down-items {
	background: $colourGreen;
	padding: 0;
	clear: both;
	margin: 0;
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	width: 200px;
	box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;

	li {
		padding: 10px 15px;
		box-sizing: border-box;
		list-style-type: none;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 1px;
		color: #fff;
		cursor: pointer;
		width: 200px;

		&:nth-child(odd) {
			background: $colourDarken;
		}
	}
}

.link-float-right {
	float: right;
}

.link-centred {
	display: block;
	margin: 0 auto;
	text-align: center;
	max-width: 110px;
}