// ==========================================================================
//
// Links
//
//

a {
	@include transition(all, 0.3s, ease-in-out);
}

.link-style-one {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.95em;
}

.link-style-two {
	color: $colourTypeDark;
	border-bottom: 2px solid $colourBlue;
	text-decoration: none;

	&:hover {
		color: $colourBlue;
	}
}

.link-button-style-one {
	@include border-radius(20px);
	padding: 9px 20px 7px 20px;
	text-transform: uppercase;
	color: $colourBg;
	text-decoration: none;
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 400;
	cursor: pointer;

	&:hover {
		@include border-radius(10px);
	}
}

.link-icon-style-one {
	
	.fa {
		color: $colourTypeMid;
		@include transition(all, 0.3s, ease-in-out);
		font-size: 1.2em;

		&:hover {
			color: $colourBlue;
		}
	}
}

.link-float-right {
	float: right;
}

.link-centred {
	display: block;
	margin: 0 auto;
	text-align: center;
	max-width: 110px;
}