// ==========================================================================
//
// Typography
//
//

$main_font: Brandon, sans-serif;
$base_font_size: 18px;

@include font-face(Brandon, 'fonts/brandon_reg-webfont', 300);
@include font-face(Brandon, 'fonts/brandon_med-webfont', 400);
@include font-face(Brandon, 'fonts/brandon_bld-webfont', 500);

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative;
}

h1 {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h2 {
    font-family: $main_font;
    color: $colourTypeDark;
    font-size: 1.8em;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: 0.3em;

    &.type-title-style-one {
      text-align: center;
    }
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.4em;

    &.type-form-title {
      color: $colourBgDark;
    }

    &.type-title-style-one {
      text-transform: uppercase;
      font-size: 1em;
      color: $colourBg;
    }
}

h4 {
  font-family: $main_font;
  color: $colourTypeDark;
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0.3em;
}

h5 {
    font-family: $main_font;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 0.3em;

    &.type-title-style-one {
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px 0;
    }
}

p {
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5em;

  a {
    @include transition(all, 0.4s, ease-in-out);

    &:hover {

    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .side-matter-ref {
      border: none;

    sup {
      font-size: 0.6em;
      margin-left: 0;
    }
  }

  &.type-paragraph-large {
    font-size: 1.3em;
    padding-bottom: 10px;
    display: inline-block;
  }

  &.type-paragraph-centered {
    text-align: center;
    padding-bottom: 20px;
  }

  &.type-paragraph-small {
    font-size: 0.9em;
    clear: left;
    display: block;
    color: $colourTypeExtraLight;
  }

  &.type-paragraph-left {
    font-size: 1.05em;
    color: $colourBg;
  }
}

span {
  font-size: 0.8em;

  &.type-span-style-one {
    font-size: 1em;
    max-width: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
  }

  &.type-small-print {
    font-size: 0.9em;
    color: $colourTypeLight;
    padding: 25px 25px 0 0;
  }

  &.type-copyright {
    padding-left: 75px;
    color: $colourTypeDark;

  }

}

