// ==========================================================================
//
// Typography
//
//

$main_font: Brandon, sans-serif;
$base_font_size: 18px;

@include font-face(Brandon, 'fonts/brandon_reg-webfont', 300);
@include font-face(Brandon, 'fonts/brandon_med-webfont', 400);
@include font-face(Brandon, 'fonts/brandon_bld-webfont', 500);

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative;
}

h1 {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h2 {
    font-family: $main_font;
    color: $colourTypeDark;
    font-size: 1.8em;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: 0.3em;

    &.type-title-style-one {
      text-align: center;
    }

    &.type-title-style-two {
      font-size: 2em;
    }
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.4em;

    &.type-form-title {
      color: $colourBgDark;
    }

    &.type-title-style-one {
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: 1px;
      color: $colourBg;
    }

    &.type-title-style-two {
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: 1px;
    }

    &.type-title-style-three {
      font-size: 1.5em;
      margin: 0;
      color: $colourBg;
      float: left;
      font-weight: 300;
      width: 60%;
    }
}

h4 {
  font-family: $main_font;
  color: $colourTypeDark;
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0.3em;

  &.type-title-one {
     letter-spacing: 1px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 1em;
  }
}

h5 {
    font-family: $main_font;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 0.3em;

    &.type-title-style-one {
      line-height: 1.4em;
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px 0;
    }

    &.type-title-style-two {
      color: $colourTypeDark;
      font-weight: 300;
      font-size: 1.1em;
      line-height: 1.3em;
    }

    &.type-title-style-three {
      color: $colourTypeMid;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.3em;
    }

    &.type-title-four {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.3em;
      padding-bottom: 20px;
      margin: 0;
    }
}

p {
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5em;

  a {
    @include transition(all, 0.4s, ease-in-out);

    &:hover {

    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .side-matter-ref {
      border: none;

    sup {
      font-size: 0.6em;
      margin-left: 0;
    }
  }

  &.type-paragraph-large {
    font-size: 1.3em;
    padding-bottom: 10px;
    display: inline-block;
  }

  &.type-paragraph-centered {
    text-align: center;
    padding-bottom: 20px;
  }

  &.type-paragraph-mid {
    font-size: 1em;
    clear: left;
    display: block;
    color: $colourTypeDark;
  }

  &.type-paragraph-regular {
    font-size: 1.25em;
    margin-top: 0;
    padding: 10px 0px;
    clear: left;
    display: block;
    color: $colourTypeDark;
  }

  &.type-paragraph-small {
    font-size: 0.9em;
    clear: left;
    display: block;
    color: $colourTypeExtraLight;
  }

  &.type-paragraph {
    font-size: 1em;
    clear: left;
    display: block;
  }

  &.type-paragraph-left {
    font-size: 1.05em;
    color: $colourTypeDark;
  }
}

span {
  font-size: 0.8em;

  &.type-span-style-one {
    font-size: 1em;
    width: 60px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 6px;
    text-transform: uppercase;
    display: block;
    float: left;
  }

  &.type-span-style-two {
    font-size: 1em;
    padding: 25px 0px 10px 0;
    display: block;

    i {
      padding-right: 15px;

    }
  }

  &.type-style-one {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    width: 50%;
    float: left;
  }

  &.type-style-two {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    width: 50%;
    text-align: right;
    float: right;
  }

  &.type-fake-button {
    @include transition(all, 0.3s, ease-in-out);
    @include border-radius(20px);
    padding: 9px 20px 7px 20px;
    text-transform: uppercase;
    color: $colourBg;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    float: right;
  }

  &.type-small-print {
    font-size: 0.9em;
    color: $colourTypeLight;
    padding: 25px 25px 0 0;
  }

  &.type-copyright {
    padding-left: 75px;
    color: $colourTypeDark;
  }

}

