// ==========================================================================
//
// Variables
//
//

$colourBg: #f8fbf4;
$colourBgDark: #eef1e9;
$colourBlue: #169ee4;
$colourGreen: #23a939;
$colourOrange: #f29204;
$colourRed: #e8471d;
$colourYellow: #edc721;
$colourBrown: #72532f;
$colourPurple: #aa35a0;
$colourTypeLight: #4d4d4d;
$colourTypeMid: #dadada;
$colourTypeDark: #4A4A4A;


