// ==========================================================================
//
// Variables
//
//

$colourBg: #f8fbf4;
$colourBgDark: #eef1e9;
$colourBlue: #169ee4;
$colourGreen: #07af32;
$colourDarkGreen: #0a8b28;
$colourOrange: #f98d28;
$colourRed: #e8471d;
$colourDarkRed: #ba3917;
$colourYellow: #edc721;
$colourBrown: #72532f;
$colourPurple: #aa35a0;
$colourTypeExtraLight: #7c7d7b;
$colourTypeLight: #4d4d4d;
$colourTypeMid: #7c7d7b;
$colourTypeDark: #4A4A4A;
$colourLines: #dadada;


$colourGreenTransparent: rgba(11, 175, 50, 0.95); 
$colourLighten: rgba(255, 255, 255, 0.5); 
$colourDarken:  rgba(0, 0, 0, 0.2); 

