// ==========================================================================
//
// Variables
//
//


$colourBg: #f8fbf4;
$colourBgDark: #eef1e9;


$colour_lightestgrey: #f1f1ef;
$colour_lightgrey: #e6e6e4;
$colour_midgrey: #656565;
$colour_darkgrey: #666666;
$colour_dark: #3c3c3c;
$colour_background: #f1f1ef;
$colour_background: #f1f1ef;
$colourTypeLight: #a9a9a9;
$colourTypeMid: #656565;
$colourTypeDark: #3b3b3b;
$colourFlash: #ffac00;
$colourBlue: #4295CC;
$colourGreen: #02d668;
$colourYellow: #ffdf00;
$colour_navy: #202a26;
$colour_yellow: #ffdf00;
$colour_red: #f7595d;
$colour_blue: #4295CC;
$colour_orange: #ffac00;
$colour_purple: #cf538f;
$colour_lime: #77b34f;
$colour_green: #07af94;
$colour_cobalt: #0700ff;
