// ==========================================================================
//
// Articles
//
//

.article-hero {
	height: 400px;
	width: 100px;
}

.article-audio-player {
	width: 100%;
	background: #fff;
}

.article-home-information {
	width: 100%;
	height: 300px;
	padding: 50px 0px;
}

.article-home-shop {
	position: relative;
	height: 615px;
	width: 100%;
	padding: 50px 0px;
}

.article-home-characters {
	width: 100%;
	height: 300px;
	padding: 50px 0px;
}

.article-social-wall {
	width: 100%;
	height: 500px;
	padding: 50px 0px;
}

.article-image-slider {
	width: 100%;
	height:450px;
	background: $colourBgDark;
}

.article-about-information {
	width: 100%;
	height: 200px;
	padding: 50px 0px;
}

.article-about-more {
	width: 100%;
	height: 570px;
	padding: 50px 0px;
	background: $colourBlue;

	.type-title-style-one {
		color: $colourBg;
		margin-top: 60px;
	}

	.type-paragraph-large {
		float: left;
	}

	.type-paragraph-mid {
		margin-top: 40px;
		font-size: 1.05em;
		color: $colourBg;
	}
}

.article-faq {
	width: 100%;
	height: 520px;
	padding: 50px 0px;
}