// ==========================================================================
//
// Articles
//
//

.article-hero {
	height: 400px;
	width: 100px;
}

.article-audio-player {
	width: 100%;
	background: #fff;
}

.article-home-information {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-home-shop {
	position: relative;
	overflow: auto;
	height: auto;
	width: 100%;
	padding: 50px 0px;
}

.article-home-characters {
	width: 100%;
	height: 300px;
	padding: 50px 0px;
}

.article-social-wall {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-image-slider {
	width: 100%;
	height:450px;
	background: $colourBgDark;
}

.article-about-information {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-about-more {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
	background: $colourBlue;

	.type-title-style-one {
		color: $colourBg;
		margin-top: 60px;
	}

	.type-paragraph-large {
		float: left;
	}

	.type-paragraph-mid {
		margin-top: 40px;
		font-size: 1.05em;
		color: $colourBg;
	}
}

.article-faq {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-characters-picker  {
	width: 100%;
	height: 300px;
	background: $colourBgDark;

}

.article-characters-content {
	position: relative;
	overflow: auto;
	height: auto;
	background: $colourGreen;
}

.article-characters-media {
	position: absolute;
	bottom: 0;
	overflow: auto;
	height: auto;
	width: 100%;
	background: $colourDarken;
}

.article-feedback-funders {
	padding: 50px 0px;
	overflow: auto;
	height: auto;
}

.article-top-banner {
	overflow:auto; 
	height: auto;
	width: 100%;
	padding: 25px 0px 15px 0;

	h2 {
		color: $colourBg;
	}

	h5 {
		color: $colourBg;
	}
}

.article-top-banner-lower {
	height: auto;
	overflow:auto; 
	width: 100%;
	padding: 5px 0px 10px 0px;

	p {
		padding: 0;
		color: $colourBg;
	}
}

.article-longform-content {
	height: auto;
	overflow:auto; 
	width: 100%;
	padding: 50px 0px;
}

.article-map {
	height: auto;
	overflow:auto; 
	width: 100%;
	padding: 50px 0px;
}

.article-contact {
	height: auto;
	overflow:auto; 
	width: 100%;
	padding: 50px 0px;
}