// ==========================================================================
//
// Articles
//
//

.article-hero {
	position: relative;
	overflow: auto;
	height: auto;
	width: 100%;
	padding: 50px 0px 50px 0;
	background: $colourBgDark;

	@include mq("medium", "max-width") {


	}

	@include mq("extra-small", "max-width") {
		padding: 25px 0;
	}
}

.article-hero-events-list {
	border-top: 3px solid $colourDarken;
	width: 100%;
	height: auto;
	overflow: auto;

	.layout-span-four {
		margin-right: 0px;
		width: 33.3%;
	}

	@include mq("medium", "max-width") {

		.layout-span-four {
			width: 50%;

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}

	@include mq("small", "max-width") {

		.layout-span-four {
			width: 50%;

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}

	@include mq("extra-small", "max-width") {

		.layout-span-four {
			width: 100%;

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}
}

.article-audio-player {
	width: 100%;
	height: 35px;
	padding: 25px 0;
	background: #fff;

	.type-small-print {
		padding: 0;
		margin-top: 7px;
		display: block;
		float: left;
	}

	@include mq("small", "max-width") {
		padding: 21px 10px;
		box-sizing: border-box;
		height: 80px;
	}
}

.article-home-information {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;

	@include mq("medium", "max-width") {
		padding: 50px 15px;
		box-sizing: border-box;

		.layout-shift-two {
			@include calc(margin-left, "16.6667% + 4px");
		}

		.layout-span-four p {
			padding: 0;
			margin-top: 0;
		}
	}

	@include mq("small", "max-width") {

		.layout-shift-one {
			@include calc(margin-left, "8.33% + 2px");
		}

		.layout-span-three {
			 @include calc(width, "33.3% - 16px");
			 margin-right: 24px;
		}

		.layout-span-four {
			 @include calc(width, "50% - 12px");
			 margin-right: 0;
		}

		.layout-shift-two {
			margin-left: 0;
		}

		.layout-span-four p {
			padding: 0;
			margin-top: 0;
		}
	}

	@include mq("extra-small", "max-width") {
		padding: 50px 15px;
		box-sizing: border-box;

		.layout-shift-one {
			margin-left: 0;
		}

		.layout-span-three {
			 width: 100%;
			 margin-right: 0;
		}

		.layout-span-four {
			 width: 100%;
			 margin-right: 0;
		}

		.layout-shift-two {
			margin-left: 0;
		}

		.layout-span-four p {
			padding: 0;
			margin-top: 40px;
		}
	}
}

.article-hero-filter {
	width: 100%;
	height: 170px;
	margin-bottom: 50px;
}

.article-home-shop {
	position: relative;
	overflow: auto;
	height: auto;
	width: 100%;
	padding: 50px 0px;

	@include mq("medium", "max-width") {

		.layout-span-four {
			@include calc(width, "50% - 12px");

			&:nth-child(2) {
				margin-right: 0;
			}
		}

	}

	@include mq("extra-small", "max-width") {

		.layout-span-four {
			width: 100%;
		}
	}
}

.article-home-characters {
	width: 100%;
	height: 300px;
	padding: 50px 0px;
}

.article-social-wall {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-image-slider {
	width: 100%;
	height:450px;
	background: $colourBgDark;
}

.article-about-information {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-about-more {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
	background: $colourBlue;

	.type-title-style-one {
		color: $colourBg;
		margin-top: 60px;
	}

	.type-paragraph-large {
		float: left;
	}

	.type-paragraph-mid {
		margin-top: 40px;
		font-size: 1.05em;
		color: $colourBg;
	}
}

.article-faq {
	width: 100%;
	overflow: auto;
	height: auto;
	padding: 50px 0px;
}

.article-characters-picker  {
	width: 100%;
	height: 300px;
	background: $colourBgDark;

}

.article-characters-content {
	position: relative;
	overflow: auto;
	height: auto;
	background: $colourGreen;
}

.article-characters-media {
	position: absolute;
	bottom: 0;
	overflow: auto;
	height: auto;
	width: 100%;
	background: $colourDarken;
}

.article-feedback-funders {
	padding: 50px 0px;
	overflow: auto;
	height: auto;
}

.article-story-archive {
	padding: 50px 0px;
	overflow: auto;
	height: auto;

	.layout-span-four:nth-child(odd) {
		margin-right: 0;
	}

	.element-sidebar-detail {
		padding: 10px 0;
	}
}

.article-top-banner {
	overflow:auto;
	height: auto;
	width: 100%;
	padding: 25px 0px 15px 0;

	h2 {
		color: $colourBg;
	}

	h5 {
		color: $colourBg;
	}

	@include mq("medium", "max-width") {

		.layout-span-six {
			@include calc(width, "66.64% - 12px");
		}
	}

	@include mq("small", "max-width") {

		.layout-span-three {
			@include calc(width, "33.3% - 16px");
		}

		.layout-span-six {
			@include calc(width, "66.64% - 12px");
			margin-right: 0;
		}
	}

	@include mq("extra-small", "max-width") {

		.layout-container {
			width: 90%;
		}

		.layout-span-three {
			width: 100%;
		}

		.layout-span-six {
			width: 100%;
		}
	}

}

.article-top-banner-lower {
	height: auto;
	overflow:auto;
	width: 100%;
	padding: 5px 0px 10px 0px;

	p {
		padding: 0;
		color: $colourBg;
	}

	@include mq("medium", "max-width") {

		.layout-span-six {
			@include calc(width, "50% - 12px");
		}
	}

	@include mq("small", "max-width") {

		.layout-shift-three {
			@include calc(margin-left, "33.3% + 9px");
		}

		.layout-span-six {
			@include calc(width, "66.64% - 12px");
			margin-right: 0;
		}

	}

	@include mq("extra-small", "max-width") {

		.layout-container {
			width: 90%;
		}

		.layout-shift-three {
			margin-left: 0;
		}

		.layout-span-six {
			width: 100%;
		}
	}
}

.article-longform-content {
	height: auto;
	overflow:auto;
	width: 100%;
	padding: 50px 0px;

	@include mq("small", "max-width") {

		.layout-span-two {
			@include calc(width, "25% - 18px");
		}

		.layout-shift-one {
			@include calc(margin-left, "8.33% + 2px");
		}

		.layout-span-six {
			@include calc(width, "66.64% - 12px");
			margin-right: 0;
		}
	}


	@include mq("extra-small", "max-width") {

		.layout-container {
			width: 90%;
		}

		.layout-shift-one {
			margin-left: 0;
		}

		.layout-span-two {
			width: 100%;
		}

		.layout-span-six {
			width: 100%;
		}
	}
}

.article-events-sytem-expanded {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 0 0 25px 0;

	.link-full-width {
		margin: 0;
	}
}

.article-map {
	height: auto;
	overflow:auto;
	width: 100%;
	padding: 50px 0px;
}

.article-contact {
	height: auto;
	overflow:auto;
	width: 100%;
	padding: 0px 0px 50px 0;
}

.article-message {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 12px 0 8px 0;
	background: $colourGreenTransparent;
	width: 100%;
	@include animation(0.5s article-banner-in ease-in-out forwards);
}

.article-contact-information {
	width: 100%;
	height: 350px;
	background: $colourBlue;
}

.article-shop-physical-product {
	height: auto;
	overflow:auto;
	width: 100%;
	padding: 50px 0px 50px 0;
}

.article-shop-menu {
	width: 100%;
	padding: 25px 0;
	height: 30px;
	background: $colourOrange;
}
