// ==========================================================================
//
// Articles
//
//

.article-hero {
	height: 400px;
	width: 100px;
}

.article-audio-player {
	width: 100%;
	background: #fff;
}

.article-home-information {
	width: 100%;
	height: 300px;
	padding: 50px 0px;
}

.article-home-shop {
	position: relative;
	min-height: 100%;
	width: 100%;
	padding: 50px 0px;
}

.article-home-characters {
	width: 100%;
	height: 300px;
	padding: 50px 0px;
}

.article-social-wall {
	width: 100%;
	height: 500px;
	padding: 50px 0px;
}

.article-image-slider {
	width: 100%;
	height:450px;
	background: $colourBgDark;
}

.article-about-information {
	width: 100%;
	height: 270px;
	padding: 50px 0px;
}

.article-about-more {
	width: 100%;
	height: 600px;
	background: $colourBlue;
}