// ==========================================================================
//
// Elements
//
//

.element-box-landscape {
	display: block;
	width: 100%;
	@include maintain-ratio(10 9.2);
	position: relative;
	cursor: pointer;

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
		@include maintain-ratio(9.5 9.2);
		margin: 12px 0px;
	}
}

.element-box-portrait {
	width: 100%;
	height: auto;
	overflow: auto;
	padding-bottom: 100px;
	position: relative;
	margin-bottom: 24px;
}

.element-box-portrait-two {
	width: 100%;
	height: auto;
	overflow: auto;
	padding-bottom: 25px;
	position: relative;
	margin-bottom: 24px;

	.type-title-style-one {
		color: $colourBg;
	}
}

.element-hero-featured {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	@include maintain-ratio(12 9);
	position: relative;
	cursor: pointer;
	display: block;

	.element-featured-holder {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: auto;
		overflow: auto;
	}

	.element-featured-information {
		padding: 20px 25px;
		height: auto;
		overflow: auto;
	}

	.image-container-golden {
		position: absolute;
		top: 0;
	}

	.element-featured-actions {
		box-sizing: border-box;
		padding: 15px 25px;
		width: 100%;
		background: $colourDarken;
		position: relative;
		overflow: auto;
		height: auto;
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
	   	@include maintain-ratio(13 9);

	   	h3 {
	   		font-size: 1.4em;
				width: 100%;
	   	}

	}

	@include mq("small", "max-width") {
	   	padding-bottom: 0;
	   	height: auto;
	   	overflow: auto;
	   	margin-bottom: 24px;

	   	h3 {
	   		font-size: 1.3em;
	   		width: 100%;
	   	}

	   	.image-container-golden {
	   		position: relative;
	   	}

	   	.element-featured-holder {
	   		position: relative;
	   		width: 100%;
	   		clear: both;
	   	}

	   	.element-featured-box-information {
	   		top: 15px;
	   		position: relative;
	   	}

	   	.type-fake-button {
	   		display: none;
	   	}
	}

	@include mq("extra-small", "max-width") {

	   	.type-style-two {
	   		display: none;
	   	}

	   	h3 {
	   		font-size: 1.3em;
	   		width: 100%;
	   	}

	   	.type-fake-button {
	   		display: none;
	   	}
	}
}

.element-hero-secondary {
	position: relative;
	display: block;
	width: 100%;
	@include maintain-ratio(24 9);
	margin-bottom: 24px;
	cursor: pointer;
	overflow: hidden;

	.element-secondary-information {
		@include calc(width, "50% - 12px");
		float: left;
		box-sizing: border-box;
		padding: 25px 25px;

		.type-style-one {
			margin-bottom: 15px;
		}

		h3 {
			font-size: 1.3em;
			width: 100%;
		}
	}

	.element-secondary-actions {
		float: right;
		@include calc(width, "50% - 12px");
		box-sizing: border-box;
		padding: 15px 25px;
		background: $colourDarken;
		position: absolute;
		bottom: 0;
		right: 0;

		.type-style-one {
			width: 50px;
			float: left;
			padding-top: 8px;
		}
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
		@include maintain-ratio(27.5 9);

		.element-secondary-actions {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		@include maintain-ratio(23 9);

	    .element-secondary-information {
	    	width: 100%;
	    	font-size: 0.9em;
	    }

	    h3 {
	   		font-size: 1em;
	   		width: 100%;
	   	}

	    .element-secondary-actions {
				display: block;
	    	width: 100%;
	    	background: none;
	    }
	}

	@include mq("extra-small", "max-width") {
	   	@include maintain-ratio(12.5 9);

	   	.type-style-one {
	   		font-size: 1em;
	   		margin-bottom: 0;
	   	}

	   	h3 {
	   		font-size: 1.5em;
	   		width: 100%;
	   	}

	   	.element-secondary-actions {
	    	width: 100%;
	    	background: $colourDarken;

	    	.type-style-one {
	   			display: block;
	   		}
	    }

	   	.type-fake-button {
	   		display: none;
	   	}
	}
}

.element-embetter-holder {
	margin: 0 auto;
	display: block;
	width: 80%;

	@include mq("small", "max-width") {
		width: 100%;
	}
}

.element-swiper-holder {
	width: 100%;
	background: $colourTypeMid;
	@include maintain-ratio(16 9);
}

.element-hero-tertiary {
	position: relative;
	display: block;
	cursor: pointer;
	width: 100%;
	@include maintain-ratio(13 9);

	.image-container-golden {
		position: relative;
		clear: both;
		@include calc(width, "100% - 30px");
		margin: 0 15px;
		top: 15px;
	}

	.element-tertiary-information {
		width: 100%;
		float: left;
		box-sizing: border-box;
		padding: 25px 25px;

		.type-style-one {
			width: 100%;
			margin-bottom: 15px;
		}

		h3 {
			font-size: 1.2em;
			line-height: 1.4em;
			width: 100%;
		}
	}

	.element-tertiary-actions {
		float: right;
		width: 100%;
		box-sizing: border-box;
		padding: 15px 25px;
		background: $colourDarken;
		position: absolute;
		bottom: 0;
		right: 0;

		.type-style-one {
			width: 50px;
			float: left;
			padding-top: 8px;
		}
	}

	.element-box-information {
		margin: 15px 0;
		top: 30px;
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	&:hover .type-fake-button-two {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
	    @include maintain-ratio(29 9);
	}

	@include mq("small", "max-width") {
	   	@include maintain-ratio(20 9);
	}

	@include mq("extra-small", "max-width") {
	   	@include maintain-ratio(16 9);
	}
}

.element-second-story {
	@include mq("medium", "max-width") {
	    display: none;
	}
}

.element-hero-event {
	height: 110px;
	padding: 25px 0;
	display: block;
	cursor: pointer;
	border-right: 1px solid $colourDarken;

	h3 {
		padding: 5px 25px;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		padding: 0px 25px;
		padding-bottom: 0px;
	}

	&:hover {
		background: $colourDarken;
	}

	@include mq("extra-small", "max-width") {
	   	border-right: 0;
	   	height: 90px;
	}
}

.element-image-holder-event {
	width: 82px;
	float: left;
	height: 110px;
	margin: 0px 35px 0 40px;

	@include mq("small", "max-width") {
	   	display: none;
	}
}

.element-jukebox-bar {
	float: left;
	width: 40%;
	height: 7px;
	margin: 14px 25px 0px 125px;
	background: $colourLines;

	@include mq("medium", "max-width") {
	   	margin-left: 100px;
	   	width: 25%;
	}
}

.element-jukebox-controls {
	@include mq("small", "max-width") {
		display: none;
	}
}

.element-title-centre {
	padding: 0px 0 50px 0;
	display: block;
}

.element-box-information {
	padding: 25px 25px 0px 25px;

	.type-paragraph-left {
		padding: 0;
		margin: 0;
		color: $colourBg;
	}
}

.element-swiper-caption {
	background: $colourTypeMid;
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding: 17px 0;
	margin: 0;

	.type-span-style-two {
		margin: 0;
		padding: 0;
	}
}

.element-box-actions {
	box-sizing: border-box;
	height: auto;
	overflow: auto;
	padding: 15px 25px;
	background: $colourDarken;
	width: 100%;
	position: absolute;
	bottom: 0;

	.type-paragraph {
		padding: 0;
		margin: 0;
	}
}

.element-question-answer {
	border-top: 1px solid $colourLines;
	padding: 20px 0 15px 0;
	cursor: pointer;

	&:last-child {
		border-bottom: 1px solid $colourLines;
	}
}

.element-question {
	position: relative;

	.type-title-style-two {
		@include calc(width, "100% - 50px");
	}

	&:after {
		position: absolute;
		top: 0px;
		right: 0;
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		background-image: url(img/icon-arrow-green.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		float: right;
		@include transition(all, 0.3s, ease-in-out);

		.is-question-active & {
			@include transform(rotate(-180deg));
		}
	}
}

.element-answer {
	
	display: none;

	.type-paragraph-small {
		@include calc(width, "100% - 50px");
		font-size: 1.1em;
		color: $colourTypeDark;
		padding: 0;
		margin-bottom: 0;

		@include mq("extra-small", "max-width") {
			width: 100%;
		}
	}

	.is-question-active & {
		display: block;
	}
}

.element-sidebar-details {
	width: 100%;
	height: auto;
	overflow: auto;
	box-sizing: border-box;

	@include mq("small", "max-width") {
		padding-bottom: 25px;
	}
}

.element-sidebar-detail {
	border-top: 1px solid $colourLines;
	padding: 20px 0;
	box-sizing: border-box;

	p {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&:last-child {
		border-bottom: 1px solid $colourLines;
	}

	@include mq("small", "max-width") {

	}

	@include mq("extra-small", "max-width") {
		width: 100%;
		padding: 16px 0px;
		min-height: 20px;
		border-bottom: 0px;

		p {
			font-size: 1.2em;
			margin-bottom: 0;
		}

		@last-child {
			border-bottom: 1px solid $colourLines
		}
	}
}

.element-activities-event {
	text-decoration: none;

	.image-container-golden {

		img {
			width: 120%;
		}
	}

	h5 {
		padding-top: 20px;
	}
}

.element-event-type-holder {
	padding: 0;

	li {
		padding: 10px 0;
		list-style-type: none;
	}

}

.element-character-link {
	display: block;
	height: 107px;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
	margin-bottom: 24px;

	.element-character-information {
		box-sizing: border-box;
		padding: 12px 15px;
		height: 107px;
		width: 62%;
		float: left;
		display: table;
		text-align: center;

		h3.type-style-one {
			padding: 0;
			margin: 0;
			font-size: 1.3em;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.element-character-comic {
	@include mq("extra-small", "max-width") {
		display: none;
	}

	a {
		color: $colourBg;
		font-size: 1em;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}
}

.element-auto-container {
	width: 100%;
	overflow: auto;
	height: auto;
	display: block;
	cursor: pointer;
	position: relative;
	margin-bottom: 25px;

	.element-auto-information {
		padding: 10px 0px;
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: auto;
		overflow: auto;

		h3 {
			width: 100%;
		}
	}

	.element-auto-actions {
		width: 100%;
		padding: 10px 0px;
		height: auto;
		overflow: auto;
		box-sizing: border-box;

		.type-style-three {
			float: left;
			padding-top: 7px;
			width: 150px;
		}
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	&:nth-child(even) {
		margin-right: 0;
	}
}

.element-welcome-message {
	float: left;
	width: 60%;

	@include mq("medium", "max-width") {
		width: 250px;
		
		h2 {
			margin: 0;
			margin-top: -5px;
			line-height: 1.6em;
			font-size: 0.9em;
		}	
	}

	@include mq("extra-small", "max-width") {
		display: none;
	}
}

.element-shop-top-actions {
	width: 330px;
	float: right;
	padding: 25px 0;

	@include mq("extra-small", "max-width") {
		width: 100%;
		float: left;
	}
}

.element-switcher {
	float: left;

	@include mq("small", "max-width") {
		width: 100%;
		border-bottom: 1px solid $colourDarkGreen;

		a {
			box-sizing: border-box;
		}
		
		a:first-child {
			width: 40%;
		}

		a:nth-child(2) {
			width: 30%;

		}

		a:nth-child(3) {
			width: 30%;
			border-right: none;
		}	
	}

	@include mq("super-small", "max-width") {
		width: 100%;

		a {
			padding: 20px 10px;
		}

		.link-icon-left i {
			padding-right: 5px;
		}

		.link-icon-right i {
			padding-left: 5px;
		}
		
		a:first-child {
			width: 40%;
			padding-bottom: 10px;

			i {
				width: 20px;
			}

			span {
				margin-top: -6px;
				display: inline;
				width: 70px;
			}
		}

		a:nth-child(2) {
			width: 30%;
		}

		a:nth-child(3) {
			width: 30%;
		}	
	}
}

.element-track {
	width: 100%;
	padding: 18px 15px 10px 15px;
	height: auto;
	overflow: auto;
	background: $colourBlue;
	display: block;
	box-sizing: border-box;

	&:nth-child(even) {
		background: $colourDarkBlue;
	}

	i {
		float: left;
		width: 10%;
		color: $colourBg;
	}

	h5 {
		width: 50%;
		float: left;
	}

	.type-style-six {
		
	}
}

.element-half-product {
	position: relative;
	@include maintain-ratio(24 9);
	margin-bottom: 24px;
	display: block;
	overflow: hidden;
	cursor: pointer;

	.element-half-information {
		padding: 15px;
		width: 62%;
		box-sizing: border-box;
		float: left;
	}

	&:hover .type-fake-button {
		@include border-radius(10px);

	}

	@include mq("small", "max-width") {
		@include maintain-ratio(53 9);
		@include calc(width, "50% - 12px");
		margin-right: 24px;
		float: left;

		h3 {
			padding: 30px 0 5px 0;
		}

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	@include mq("extra-small", "max-width") {
		@include maintain-ratio(24 9);
		width: 100%;
		margin-right: 0px;
		float: left;

		h3 {
			padding: 27px 0 0px 0;
		}

		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.element-top-tracks {
	@include maintain-ratio(11.1 9);
	width: 100%;
	background: $colourBlue;
	overflow: hidden;
	float: left;

	@include mq("small", "max-width") {
		padding-bottom: 0;
		height: auto;
		overflow: auto;
		background: none;
		margin-bottom: 24px;
	}
}

.element-full-product {
	@include maintain-ratio(11.1 9);
	margin-bottom: 24px;

	h3 {
		width: 100%;
	}

	.type-fake-button {
		display: none;
	}

	@include mq("small", "max-width") {
	   	padding-bottom: 0;
	   	height: auto;
	   	overflow: auto;
	}
}

.element-buy-actions {
	overflow: auto;
	height: auto;
	border-top: 1px solid $colourLines;
	padding: 20px 0;
	border-bottom: 1px solid $colourLines;

	input[type="shop"] {
		max-width: 140px;
	}

	@include mq("medium", "max-width") {

		.form-buy-quantity {
			width: 100%;

			label {
				width: 50%;
				float: left;
				margin-left: 10px;
			}

			input {
				float: right;
				margin-right: 10px;
			}
		}
	   
	   	input[type="shop"] {
			width: 100%;
			max-width: 100%;
			margin-top: 20px;
			padding: 10px 0px;
		}
	}
}

.element-shop-music-top {
	height: 80px;
	@include calc(width, "50% - 12px");
	margin-right: 24px;
	float: left;

	&:nth-child(2) {
		margin-right: 0;
	}

	h3 {
		padding-top: 0;
	}

	.link-button-style-one {
		margin-left: 25px;
	}

	@include mq("small", "max-width") {
		margin-top: 25px;
		width: 100%;

		.type-style-six {
			width: 20%;
			padding: 7px 10px;
			box-sizing: border-box;
		}

		.link-button-style-one {
			float: right;
			width: 60%;
			margin: 0;
			padding: 12px 10px;
			text-align: center;
		}
	}

	@include mq("extra-small", "max-width") {
		margin-top: 25px;

		.link-button-style-one {
			float: left;
			margin-left: 25px;
		}
	}
}

.element-song-list {
	position: relative;
	padding: 0;
	cursor: pointer;
	margin: 0;

	li {
		list-style-type: none;
		border-top: 1px solid $colourDarken;
		display: block;
		height: auto;
		overflow: auto;
		padding: 10px 10px 5px 10px;

		i {
			float: left;
			display: block;
			padding-top: 2px;
		}

		span {
			position: absolute;
			left: 11px;
		}

		h5 {
			display: block;
			float: left;
			width: 50%;
			margin-left: 10px;
			font-weight: 400;
			padding: 0;
		}

		&:last-child {
			border-bottom: 1px solid $colourDarken;
		}

		a {
			margin-top: 0px;
			padding: 2px 4px;
			text-decoration: none;
			border: 0px;
			background: $colourDarken;
			cursor: pointer;

			&:hover {
				@include border-radius(0px);
			}
		}

		@include mq("small", "max-width") {
			padding: 15px 10px 8px 10px;

		}
	}

	@include mq("small", "max-width") {
		padding: 0;

		&:first-child li:last-child {
			border-bottom: 0px;
		}

	}
}

.element-contact-box {
	margin-top: 35px;
	display: block;
	position: relative;
	height: auto;
	overflow: auto;
	width: 100%;
	background: $colourBlue;
	text-decoration: none;
	padding-bottom: 50px;

	&:nth-child(even) {
		margin-top: 24px;
		background: $colourGreen;
	}

	@include mq("small", "max-width") {
		padding-bottom: 30px;
		
		&:last-child {

			.type-style-two {
				font-size: 1.2em;
			}
		}
	}

	@include mq("extra-small", "max-width") {
		
		margin-top: 25px;
	}
}

.element-contact-box-address {
	margin: 35px 0;
	height: auto;
	overflow: auto;
	background: $colourRed;
	position: relative;
	padding-bottom: 50px;
	box-sizing: border-box;

	#map {
		width: 100%;
		padding: 99px 0;
		background: $colourDarken;

		@include mq("medium", "max-width") {
			padding: 88px 0;
		}
	}

	@include mq("small", "max-width") {
		margin: 35px 0 0 0;
	}
}

.element-contact-action {
	width: 100%;
	height: auto;
	overflow: auto;
	background: $colourDarken;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 15px 15px 10px 15px;
	text-decoration: none;
}

.element-contact-information {
	width: 100%;
	box-sizing: border-box;
	padding: 25px;

	.type-title-style-one {
		
	}
}



