// ==========================================================================
//
// Elements
//
//

.element-box-landscape {
	display: block;
	width: 100%;
	@include maintain-ratio(10 9.2);
	position: relative;
	cursor: pointer;

	&:hover .type-fake-button {
		@include border-radius(10px);
	}
}

.element-box-portrait {
	width: 100%;
	@include maintain-ratio(9 12);
	position: relative;
	margin-bottom: 24px;
}

.element-box-portrait-two {
	width: 100%;
	@include maintain-ratio(9 16);
	position: relative;
	margin-bottom: 24px;

	.type-title-style-one {
		color: $colourBg;
	}
}

.element-hero-featured {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	@include maintain-ratio(11.2 9);
	position: relative;
	cursor: pointer;

	.element-featured-box-information {
		margin: 0 25px;
		top: 30px;
		color: #fff;
		text-transform: uppercase;
		font-size: 1em;
		letter-spacing: 1px;
		clear: both;
		float: left;
		position: relative;
		@include calc(width, "100% - 50px");
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
	   	@include maintain-ratio(10 9);

	   	h3 {
	   		font-size: 1.3em;
	   	}

	}

	@include mq("small", "max-width") {
	   	@include maintain-ratio(10 9);

	   	h3 {
	   		font-size: 1.3em;
	   		width: 100%;
	   	}

	   	.element-featured-box-information {
	   		top: 15px;
	   	}

	   	.type-fake-button {
	   		display: none;
	   	}
	}

	@include mq("extra-small", "max-width") {
	   	@include maintain-ratio(10 9);
	   	margin-bottom: 25px;

	   	.type-style-two {
	   		display: none;
	   	}

	   	h3 {
	   		font-size: 1.3em;
	   		width: 100%;
	   	}

	   	.type-fake-button {
	   		display: none;
	   	}
	}
}

.element-hero-secondary {
	position: relative;
	display: block;
	width: 100%;
	@include maintain-ratio(24 9);
	margin-bottom: 24px;
	cursor: pointer;
	overflow: hidden;

	.element-secondary-information {
		@include calc(width, "50% - 12px");
		float: left;
		box-sizing: border-box;
		padding: 25px 25px;

		.type-style-one {
			margin-bottom: 15px;
		}

		h3 {
			width: 100%;
		}
	}

	.element-secondary-actions {
		float: right;
		@include calc(width, "50% - 12px");
		box-sizing: border-box;
		padding: 15px 25px;
		background: $colourDarken;
		position: absolute;
		bottom: 0;
		right: 0;

		.type-style-one {
			width: 50px;
			float: left;
			padding-top: 8px;
		}
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
	    @include maintain-ratio(21.3 9);

	    .element-secondary-information {
	    	width: 100%;
	    }

	    .element-secondary-actions {
	    	width: 100%;
	    }
	}

	@include mq("small", "max-width") {
		@include maintain-ratio(22.6 9);

	    .element-secondary-information {
	    	width: 100%;
	    	font-size: 0.9em;
	    }

	    .element-secondary-actions {
	    	width: 100%;
	    	background: none;
	    }
	}

	@include mq("extra-small", "max-width") {
	   	@include maintain-ratio(9 9);

	   	.type-style-two {
	   		display: none;
	   	}

	   	h3 {
	   		font-size: 1.3em;
	   		width: 100%;
	   	}

	   	.element-secondary-actions {
	    	width: 100%;
	    	background: $colourDarken;
	    }

	   	.type-fake-button {
	   		display: none;
	   	}
	}
}

.element-hero-tertiary {
	position: relative;
	display: block;
	cursor: pointer;
	width: 100%;
	@include maintain-ratio(11.2 9);

	.image-container-golden {
		position: relative;
		clear: both;
		@include calc(width, "100% - 30px");
		margin: 0 15px;
		top: 15px;
	}

	.element-tertiary-information {
		width: 100%;
		float: left;
		box-sizing: border-box;
		padding: 25px 25px;

		.type-style-one {
			width: 100%;
			margin-bottom: 15px;
		}

		h3 {
			width: 100%;
		}
	}

	.element-tertiary-actions {
		float: right;
		width: 100%;
		box-sizing: border-box;
		padding: 15px 25px;
		background: $colourDarken;
		position: absolute;
		bottom: 0;
		right: 0;

		.type-style-one {
			width: 50px;
			float: left;
			padding-top: 8px;
		}
	}

	.element-box-information {
		margin: 15px 0;
		top: 30px;
	}

	&:hover .type-fake-button {
		@include border-radius(10px);
	}

	&:hover .type-fake-button-two {
		@include border-radius(10px);
	}

	@include mq("medium", "max-width") {
	    @include maintain-ratio(21 9);
	}

	@include mq("extra-small", "max-width") {
	   	@include maintain-ratio(17 9);
	}
}

.element-second-story {
	@include mq("medium", "max-width") {
	    display: none;
	}
}

.element-hero-event {
	padding: 25px 0;
	display: block;
	cursor: pointer;
	border-right: 1px solid $colourDarken;

	h3 {
		padding: 0px 25px;
	}

	h5 {
		font-size: 0.9em;
		padding: 0px 25px;
		padding-bottom: 0px;
	}

	&:hover {
		background: $colourDarken;
	}
}

.element-jukebox-bar {
	float: left;
	width: 50%;
	height: 7px;
	margin: 12px 25px 0px 75px;
	background: $colourLines;
}

.element-title-centre {
	padding: 0px 0 50px 0;
	display: block;
}

.element-box-information {
	padding: 25px 25px 0px 25px;

	.type-paragraph-left {
		padding: 0;
		margin: 0;
		color: $colourBg;
	}
}

.element-box-actions {
	box-sizing: border-box;
	padding: 15px 25px;
	background: $colourDarken;
	position: absolute;
	bottom: 0;
	width: 100%;

	.type-paragraph {
		padding: 0;
		margin: 0;
	}
}

.element-question-answer {
	border-top: 1px solid $colourLines;
	padding: 20px 0 15px 0;

	&:last-child {

		border-bottom: 1px solid $colourLines;
	}
}

.element-question {

	.type-title-style-two {
		width: 100%;
	}
}

.element-answer {

	display: none;

	.type-paragraph-small {
		width: 90%;
		font-size: 0.95em;
		color: $colourTypeDark;
		padding: 0;
		margin-bottom: 0;
	}
}

.element-sidebar-details {
	width: 100%;
	height: auto;
	overflow: auto;
}

.element-sidebar-detail {
	border-top: 1px solid $colourLines;
	padding: 20px 0;

	p {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&:last-child {
		border-bottom: 1px solid $colourLines;
	}
}

.element-activities-event {

	h5 {
		padding-top: 20px;
	}

	&:last-child {
		border-bottom: 1px solid $colourLines;
	}
}

.element-contact-information {
	width: 100%;
	padding: 50px 0;
	@include maintain-ratio(16 9);
	margin-bottom: 50px;
	background: $colourBlue;
}

.element-buy-actions {
	overflow: auto;
	height: auto;
	border-top: 1px solid $colourLines;
	padding: 20px 0;
	border-bottom: 1px solid $colourLines;
}

