// ==========================================================================
//
// Header
//
//

header {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
}

.header-logo {
	display: block;
	text-indent: -9999px;
	float: left;
	width: 226px;
	height: 56px;
	margin-top: 20px;
	position: relative;
	background-image: url(img/logo_h1.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	@include mq("extra-small", "max-width") {
		width: 180px;
	}
}

.header-main-navigation {

	ul {
		padding: 39px 0 0 0;
		margin: 0;

		li {
			float: left;
			list-style-type: none;
		}
	}

	@include mq("small", "max-width") {
		width: 100%;

		ul {
			padding: 5px 0 0 0;
		}
	}
}

.header-navigation-external {
	float: right;

	li {
		margin-right: 35px;
	}

	@include mq("medium", "max-width") {
		display: none;
	}
}

.header-navigation-internal {
	margin-right: 15px;

	float: right;

	li {
		margin-right: 35px;
	}

	@include mq("medium", "max-width") {

    	li:last-child {
    		margin-right: 0;
    	}

	}

	@include mq("small", "max-width") {
		padding: 0 0 0 0;
		margin: 0;
		clear: both;
		width: 100%;
		box-sizing: border-box;

		li {
			border-bottom: 1px solid $colourLines;
			width: 100%;
			padding: 15px 15px;
			font-size: 1.15em;
			color: #fff;
			margin: 0;
			box-sizing: border-box;
			cursor: pointer;
		}

    	li:last-child {
    		margin-right: 0;
    	}

	}

}

.header-submenu {
	width: 100%;
	overflow: hidden;
	display: none;
}

.header-layout-bar {
	width: 100%;
	height: 100%;

	ul {
		margin: 0;

		li {
			float: left;
			list-style-type: none;
			padding: 9px 15px;

			a {
				text-decoration: none;
				font-size: 0.95em;
				color: $colourBg;
			}
		}
	}
}

#js-discover-menu {
	display: block;
	@include transform(translateY(-42px));

	.navigation--discover--active & {
		@include animation(0.3s header_menu_in ease-in-out forwards);
	}

	.navigation--discover--inactive & {
		@include animation(0.3s header_menu_out ease-in-out forwards);
	}
}

#js-activities-menu {
	display: none;
}

