// ==========================================================================
//
// Header
//
//

header {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
}

.header-logo {
	display: block;
	text-indent: -9999px;
	float: left;
	width: 226px;
	height: 56px;
	margin-top: 20px;
	position: relative;
	background-image: url(img/logo_h1.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	@include mq("extra-small", "max-width") {
		width: 170px;
	}
}

.header-main-navigation {

	ul {
		padding: 39px 0 0 0;
		margin: 0;

		li {
			float: left;
			list-style-type: none;
		}
	}

	@include mq("small", "max-width") {
		width: 100%;

		ul {
			padding: 5px 0 0 0;
		}
	}
}

.header-navigation-external {
	float: right;
	padding-left: 25px;

	li {
		margin-right: 35px;

		&:first-child {
			margin-left: 40px;
		}
	}

	@include mq("medium", "max-width") {
		display: none;
	}

	@include mq("small", "max-width") {
		display: block;
		margin-top: 20px;
		width: 250px;

		li {
			padding-top: 35px;
			float: right;
		}
	}

	@include mq("extra-small", "max-width") {
		display: none;
	}
}

.header-navigation-internal {
	
	float: right;

	li {
		margin-right: 35px;
	}

	@include mq("medium", "max-width") {

    	li:last-child {
    		margin-right: 0;
    	}
	}

	@include mq("small", "max-width") {
		padding: 0 0 0 0;
		margin: 0;
		clear: both;
		width: 100%;
		box-sizing: border-box;
		display: none;

		.is-menu-active & {
			display: block;
		}
	}
}

.header-main-menu-item {
	
	&:nth-child(1):after {
		
		.is-discover-active & {
			@include transform(rotate(-180deg));
		}
	}

	&:nth-child(2):after {
		background-image: url(img/icon-arrow-green.svg);

		.is-activities-active & {
			@include transform(rotate(-180deg));
		}
	}

	&:nth-child(3):after {
		@include transform(rotate(-90deg));
		background-image: url(img/icon-arrow-orange.svg);
	}

	&:nth-child(4):after {
		@include transform(rotate(-90deg));
		background-image: url(img/icon-arrow-red.svg);
	}

	&:nth-child(5):after {
		@include transform(rotate(-90deg));
	}

	.is-menu-active & {

	    @for $i from 1 through 5 {
		    
		    &:nth-child(#{$i}) {
		        @include animation--fadedown($i/10);
		    }
	    }
  	}

  	@include mq("small", "max-width") {
		clear: both;
		border-bottom: 1px solid $colourLines;
		width: 100%;
		padding: 15px 15px;
		font-size: 1.15em;
		color: #fff;
		margin: 0;
		box-sizing: border-box;
		cursor: pointer;
		opacity: 0;
		position: relative;

		&:after {
			position: absolute;
			top: 15px;
			right: 0;
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			background-image: url(img/icon-arrow-blue.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
			float: right;
			@include transition(all, 0.3s, ease-in-out);
		}

	}

}

li .header-discover-submenu {

	display: none;
	margin-top: 10px;

	.is-discover-active & { 
		display: block;
	}

}

li .header-activities-submenu {

	display: none;
	margin-top: 10px;

	.is-activities-active & { 
		display: block;
	}

}

li ul li {
	padding: 0;
	border-bottom: 0;
	padding: 5px 0;
	opacity: 0;
	width: 100%;


	a {
		color: $colourTypeMid;
		text-decoration: none;
		font-size: 1em;
		display: block;
		padding: 5px 0;
		width: 100%;

	}
}

li .header-discover-submenu li {
	
	.is-discover-active & {

	    @for $i from 1 through 5 {
		    
		    &:nth-child(#{$i}) {
		        @include animation--fadedown($i/10);
		    }
	    }
  	}
}

li .header-activities-submenu li {

	.is-activities-active & {

	    @for $i from 1 through 8 {
		    
		    &:nth-child(#{$i}) {
		        @include animation--fadedown($i/10);
		    }
	    }
  	}

}

li:last-child {
	margin-right: 0;
}

.header-submenu {
	width: 100%;
	overflow: hidden;
	display: none;
}

.header-layout-bar {
	width: 100%;
	height: 100%;

	ul {
		margin: 0;

		li {
			float: left;
			list-style-type: none;
			padding: 9px 15px;

			a {
				text-decoration: none;
				font-size: 0.95em;
				color: $colourBg;
			}
		}
	}
}

#js-discover-menu {
	display: block;
	@include transform(translateY(-42px));

	.navigation--discover--active & {
		@include animation(0.3s header_menu_in ease-in-out forwards);
	}

	.navigation--discover--inactive & {
		@include animation(0.3s header_menu_out ease-in-out forwards);
	}
}

#js-activities-menu {
	display: none;
}

