// ==========================================================================
//
// Header
//
//

header {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
}

.header-logo {
	display: block;
	text-indent: -9999px;
	float: left;
	width: 250px;
	width: 226px;
	height: 56px;
	margin-top: 20px;
	position: relative;
	background-image: url(../../img/logo_h1.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.header-main-navigation {

	ul {
		padding: 39px 0 0 0;
		margin: 0;

		li {
			float: left;
			list-style-type: none;
		}
	}

	.header-navigation-internal {

		float: right;

		li {
			margin-right: 45px;
		}

	}

	.header-navigation-external {
		float: right;

		li {
			margin-right: 45px;
		}
	}
}

.header-submenu {
	width: 100%;
	overflow: hidden;
	display: none;
}

.header-layout-bar {
	width: 100%;
	height: 100%;


	ul {
		margin: 0;

		li {
			float: left;
			list-style-type: none;
			padding: 9px 15px;

			a {
				text-decoration: none;
				font-size: 0.95em;
				color: $colourBg;
			}
		}
	}
}

#js-discover-menu {
	display: block;
	@include transform(translateY(-42px));

	.navigation--discover--active & {
		@include animation(0.3s header_menu_in ease-in-out forwards);
	}

	.navigation--discover--inactive & {
		@include animation(0.3s header_menu_out ease-in-out forwards);
	}
}

#js-activities-menu {
	display: none;
}

