// ==========================================================================
//
// Header
//
//

header {
	margin: 0;
	width: 100%;
	height: 100px;
	background: #fff;
}

.header-logo {
	display: block;
	text-indent: -9999px;
	float: left;
	width: 226px;
	height: 56px;
	margin-top: 20px;
	position: relative;
	background-image: url(img/logo_h1.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	@include mq("extra-small", "max-width") {
		width: 170px;
	}
}

.header-main-navigation {

	ul {
		padding: 39px 0 0 0;
		margin: 0;

		li {
			float: left;
			list-style-type: none;
		}
	}

	@include mq("small", "max-width") {
		width: 100%;

		ul {
			padding: 5px 0 0 0;
		}
	}
}

.header-navigation-external {
	float: right;
	padding-left: 25px;

	li {
		margin-right: 25px;

		&:first-child {
			margin-left: 40px;
		}
	}

	@include mq("medium", "max-width") {
		display: none;
	}

	@include mq("small", "max-width") {
		display: block;
		margin-top: 20px;
		width: 250px;

		li {
			padding-top: 35px;
			float: right;
		}
	}

	@include mq("extra-small", "max-width") {
		display: none;
	}
}

.header-navigation-internal {
	
	float: right;

	li {
		margin-right: 25px;
	}

	@include mq("medium", "max-width") {

    	.header-main-menu-item:last-child {
    		margin-right: 0;
    	}
	}

	@include mq("small", "max-width") {
		padding: 0 0 0 0;
		margin: 0;
		clear: both;
		width: 100%;
		box-sizing: border-box;
		display: none;

		.is-menu-active & {
			display: block;
		}
	}
}

.header-main-menu-item {
	
	&:nth-child(2):after {
		
		.is-discover-active & {
			@include transform(rotate(-180deg));
		}
	}

	&:nth-child(3):after {
		background-image: url(img/icon-arrow-green.svg);

		.is-activities-active & {
			@include transform(rotate(-180deg));
		}
	}

	&:nth-child(4):after {
		@include transform(rotate(-90deg));
		background-image: url(img/icon-arrow-orange.svg);
	}

	&:nth-child(5):after {
		@include transform(rotate(-90deg));
		background-image: url(img/icon-arrow-red.svg);
	}

	&:nth-child(6):after {
		@include transform(rotate(-90deg));
	}

	.is-menu-active & {

	    @for $i from 1 through 5 {
		    
		    &:nth-child(#{$i}) {
		        @include animation--fadedown($i/10);
		    }
	    }
  	}

  	@include mq("small", "max-width") {
		clear: both;
		border-bottom: 1px solid $colourLines;
		width: 100%;
		padding: 15px 15px;
		font-size: 1.15em;
		color: #fff;
		margin: 0;
		box-sizing: border-box;
		cursor: pointer;
		opacity: 0;
		position: relative;

		&:after {
			position: absolute;
			top: 15px;
			right: 0;
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			background-image: url(img/icon-arrow-blue.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
			float: right;
			@include transition(all, 0.3s, ease-in-out);
		}

		&:last-child {
			border-bottom: 0px;
		}

	}

}

li .header-discover-submenu {

	display: none;
	margin-top: 10px;

	.is-discover-active & { 
		display: block;
	}

}

li .header-activities-submenu {

	display: none;
	margin-top: 10px;

	.is-activities-active & { 
		display: block;
	}
}

.header-main-menu-item ul {
	clear: both;
	position: absolute;
	margin: 0;
	width: 100%;
	margin: 0;
	top: 100px;
	left: 0;
	right: 0;
	box-sizing: border-box;
	padding: 13px 65px;
	display: none;

	li {
		float: right;
		opacity: 0;
	}

	a {
		text-align: right;
		margin: 0;
		padding: 0;
		color: #fff;
		text-decoration: none;
		font-size: 1.1em;
		display: block;
		width: 100%;
	}

	.is-discover-active & {
		display: block;
	}

	@include mq("medium", "max-width") {

		padding: 13px 0px;

		li {
			margin-right: 20px;
		}  

		a {
			font-size: 1em;
		}
	}

	@include mq("small", "max-width") {

		position: relative;
		top: 0;
		padding: 13px 20px;

		a {
			
			text-align: left;
			color: $colourTypeDark;

		}
	}
}

.header-arrow {
	position: absolute;
	top: 86px;
	right: 660px;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 15px solid $colourBlue;
	@include transform(translateY(35px));
	opacity: 0;

	.is-discover-active & {
		@include animation(header_arrow_in  0.3s 0.4s forwards);
	}

	.is-discover-closing & {
		@include animation(header_arrow_out 0.1s forwards);
		opacity: 0;
	}

	.is-activities-active & {
		border-bottom: 15px solid $colourGreen;
		right: 550px;
		@include animation(header_arrow_in  0.3s 0.5s forwards);
	}

	@include mq("medium", "max-width") {
		right: 420px;
		
		.is-activities-active & {
			right: 315px;
		}
	}

	@include mq("small", "max-width") {
		display: none;
	}

}

.header-submenu-holder {
	opacity: 0;
	width: 100%;
	height: 0;
	background: $colourBlue;
	clear: both;

	.is-discover-active & {
		display: block;
		@include animation(header_menu_in 0.5s forwards);

		@include mq("small", "max-width") {
			display: none;
			opacity: 0;
		}
		
	}

	.is-discover-closing & {
		@include animation(header_menu_out 0.4s forwards);

		@include mq("small", "max-width") {
			display: none;
			opacity: 0;
		}
	}

	.is-activities-active & {
		background: $colourGreen;
		display: block;
		@include animation(header_menu_in 0.5s forwards);

		@include mq("small", "max-width") {
			display: none;
			opacity: 0;
		}
	}

	.is-activities-closing & {
		background: $colourGreen;
		@include animation(header_menu_out 0.4s forwards);

		@include mq("small", "max-width") {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		display: none;
	}
}

@include mq("small", "max-width") {
		
	li ul li {
		padding: 0;
		border-bottom: 0;
		padding: 5px 0;
		opacity: 0;
		width: 100%;

		a {
			color: $colourTypeMid;
			text-decoration: none;
			font-size: 1em;
			display: block;
			padding: 5px 0;
			width: 100%;
		}

		&:last-child {
			margin-right: 24px;
		}
	}
}

.header-main-menu-item:last-child {
	margin-right: 0;
}

li .header-discover-submenu li {
	
	.is-discover-active & {

	    @for $i from 1 through 5 {
		    
		    &:nth-child(#{$i}) {
		        @include animation--fadedown($i/10);
		    }
	    }
  	}
}

li .header-activities-submenu li {

	.is-activities-active & {

	    @for $i from 1 through 8 {
		    
		    &:nth-child(#{$i}) {
		        @include animation--fadedown($i/10);
		    }
	    }
  	}
}

li .header-activities-submenu {
	display: none;
}

