// ==========================================================================
//
// Images
//
//

.image-container-circle {
	width: 100%;
	@include maintain-ratio(1 1);
	@include border-radius(200px);
	overflow: hidden;
	background: $colourYellow;
}

.image-container-golden {
	width: 100%;
	@include maintain-ratio(16 9);
	overflow: hidden;
	background: $colourBgDark;
}

.image-container-golden-half {
	width: 100%;
	@include maintain-ratio(16 9);
	overflow: hidden;
	background: $colourBgDark;

	@include mq("medium", "max-width") {

		@include maintain-ratio(16 9);
		width: 50%;
	}
}