// ==========================================================================
//
// Images
//
//

.image-container-circle {
	width: 100%;
	@include maintain-ratio(1 1);
	@include border-radius(100%);
	overflow: hidden;
	background: $colourDarken;
}

.image-container-golden {
	width: 100%;
	@include maintain-ratio(16 9);
	overflow: hidden;
	background: $colourDarken;

	img {
		width: 100%;
		height: auto;
	}
}

img.image-post-content {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.image-container-secondary {
	overflow: hidden;
	display: block;
	width: 50%;
	height: 300px;
	@include calc(width, "50% + 12px");
	background: $colourDarken;
	float: left;

	@include mq("medium", "max-width") {
	    display: none;
	}

	@include mq("extra-small", "max-width") {
	    display: block;
	    width: 100%;
	    height: 150px;
	}
}